<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Scribble.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Scribble.Properties.Settings>
            <setting name="PenWidth" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="PenColor" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="WindowLeft" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="WindowTop" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>450</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RecentFile1" serializeAs="String">
                <value />
            </setting>
            <setting name="RecentFile2" serializeAs="String">
                <value />
            </setting>
            <setting name="RecentFile3" serializeAs="String">
                <value />
            </setting>
            <setting name="RecentFile4" serializeAs="String">
                <value />
            </setting>
        </Scribble.Properties.Settings>
    </userSettings>
</configuration>